.cuadrado{
    width: 100px;
    height: 100px; 
  margin: 20px;
  cursor: pointer;

}
#cuadrado1{
    background-color: red;
}
#cuadrado2{
    background-color: green;
}
#cuadrado3{
    background-color:blue;
}


