/* * {
   
    font-family: 'Titillium Web', sans-serif;
} */

/* * {
  outline: 1px solid red;
} */

 body {
  font-family: "Titillium Web", sans-serif;

  background: rgb(69, 97, 199);
  background: -moz-linear-gradient(
    0deg,
    rgba(69, 97, 199, 1) 4%,
    rgba(207, 214, 214, 1) 82%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(69, 97, 199, 1) 4%,
    rgba(207, 214, 214, 1) 82%
  );
  background: linear-gradient(
    0deg,
    rgba(69, 97, 199, 1) 4%,
    rgba(207, 214, 214, 1) 82%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4561c7",endColorstr="#cfd6d6",GradientType=1);
}
header,
section {
  width: 600px;
  margin: 0 auto;    
  }

img {
  border-radius: 5px;
}

h1,
h4 {
  color: aliceblue;
}

.nombre {
  position: absolute;
  margin-top: -200px;
  margin-left: 20px;
}
.sub2 {
  position: absolute;
  margin-top: -25px;
}
article {
  width: 100%;
}
aside {
  width: 100%;
}
article,
aside {
  background-color: rgba(241, 239, 238, 0.85);

  border: 1px solid rgba(241, 239, 238, 1);
  border-radius: 5px;
  box-sizing: border-box;
  padding: 20px 30px 30px 20px;
}
h2 {
  margin-left: 10px;

  background: rgb(133,156,240);
  background: -moz-linear-gradient(180deg, rgba(133,156,240,0.87718837535014) 4%, rgba(192,198,198,1) 82%);
  background: -webkit-linear-gradient(180deg, rgba(133,156,240,0.87718837535014) 4%, rgba(192,198,198,1) 82%);
  background: linear-gradient(180deg, rgba(133,156,240,0.87718837535014) 4%, rgba(192,198,198,1) 82%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#859cf0",endColorstr="#c0c6c6",GradientType=1);
}
ul {
  list-style-type: none;
  margin-left: -5px;
}
p {
  margin: 0 20px 0 20px;
  text-align: justify;
}
.mail {
  font-size: 13px;
}
a {
  cursor: pointer;
  margin-left: 10px;
}
.text {
  margin-left: 10px;
}
.habilidades,
.educacion,
.intereses,
.idiomas {
  list-style-type: circle;
}
.programas {
  list-style-type: none;
}

