.contenedor-footer {
    position: relative;
    display: inline-block;
    text-align: center;
  }
  .texto-encima {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    padding-bottom: 100px;
    text-shadow: 2px 2px 2px grey;
  }
  
  .foto-footer {
    width: 100%;
  }
  .footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-bottom: 100px;
  }
  
  .empresa {
    width: 20%;
  }
  ul li {
    list-style: none;
    margin: 10px;
  }
  ul li a {
    text-decoration: none;
  }
  i {
    /* para que se separen entre sí */
    margin: 8px 6px;
    font-size: 32px;
  }
  .facebook:hover {
    color: #3b5998;
    transition: 0.5s;
  }
  .instagram:hover {
    color: #c13584;
    transition: 0.5s;
  }
  .linkedin:hover {
    color: #0e76a8;
    transition: 0.5s;
  }
  .pinterest:hover {
    color: #c8232c;
    transition: 0.5s;
  }
  