.galeria {
    background-color: rgba(206, 208, 210, 0.5);
    padding-bottom: 55px;
    margin-bottom: 20px;
  }
  #galeriabim .col-lg-4 {
    margin: 0 !important;
    padding: 20px;
  }
  #galeriabim img {
    width: 100%;
    height: 250px;
  }
  #galeriabim img:hover {
    border: 5px solid rgba(0, 0, 0, 0.3);
  }