.contacto {
    background-color: rgba(206, 208, 210, 0.5);
    margin-bottom: 20px;
    display: flex;
  }
  
  .columna {
    width: 50%;
    box-sizing: border-box;
    padding: 0.6em;
  }
  .columna .left {
    border-right: 1px solid gray;
  }
  
  .logo2 {
    height: 100px;
    margin: 20px 0 0 50px;
  }
  .formulario label {
    vertical-align: top;
    width: 97px;
    display: inline-block;
  }
  .formulario input,
  .formulario textarea {
    background-color: rgba(198, 208, 210, 0.5);
    border-radius: 2px;
    border: 1px solid #999;
    padding: 0.4em 0.6em;
    font-size: 0.8em;
    width: 70%;
  }
  .formulario textarea {
    resize: none;
    /* para que el usuario no maneje la medida */
    height: 10em;
  }
  .formulario input[type="submit"] {
    background-color: #f26f05;
    color: white;
    font-size: 1em;
    width: auto;
    cursor: pointer;
  }
  .formulario .acciones {
    text-align: center;
  }
  .infocontacto {
    text-align: center;
    margin-top: 20px;
    text-shadow: 1px 1px 1px grey;
  }
  .infocontacto2 {
    font-size: 15px;
    color: #505355;
    text-align: justify;
    margin: 20px 185px 16px 105px;
  }
  ::placeholder {
    color: whitesmoke;
    text-shadow: 1px 1px 1px grey;
  }
  
  /* footer */
  
  .contenedor-footer {
    position: relative;
    display: inline-block;
    text-align: center;
  }
  .texto-encima {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    padding-bottom: 100px;
    text-shadow: 2px 2px 2px grey;
  }
  
  .foto-footer {
    width: 100%;
  }
  .footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-bottom: 100px;
  }
  
  .empresa {
    width: 20%;
  }
  ul li {
    list-style: none;
    margin: 3px;
  }
  ul li a {
    text-decoration: none;
  }
  i {
    /* para que se separen entre sí */
    margin: 8px 6px;
    font-size: 32px;
  }
  .facebook:hover {
    color: #3b5998;
    transition: 0.5s;
  }
  .instagram:hover {
    color: #c13584;
    transition: 0.5s;
  }
  .linkedin:hover {
    color: #0e76a8;
    transition: 0.5s;
  }
  .pinterest:hover {
    color: #c8232c;
    transition: 0.5s;
  }
  