.planos {
    background-color: rgba(206, 208, 210, 0.5);
    margin-bottom: 20px;
    padding: 80px 200px;
  }
  .listaplanos {
    font-size: 20px;
    font-weight: bold;
    padding: 20px 0 20px 200px;
  }
  .listaplanos li {
    margin: 7px;
  }
  .listadeplanos2 li {
    margin: 7px;
  }
  .planos01 {
    height: 275px;
    margin-bottom: 50px;
  }
  .planos02 {
    height: 275px;
    margin: 20px 0 50px 200px;
  }
  .listadeplanos2 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
  }