.reformas{
    background-color: rgba(206, 208, 210, 0.5);
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  .img-reformas {
    padding: 18px;
    margin: 10px 0px 10px 13px;
   
  }
  .titulosteel {
    font-size: 30px;
  }
  .steel {
    text-align: justify;
    font-size: 20px;
    margin: 20px 45px;
  }