<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus eos eaque illum molestias distinctio, cupiditate minus! Non ex perferendis asperiores commodi autem, modi mollitia voluptatum debitis excepturi eveniet quas tenetur.</p>
  </body>
</html>
