body {

  padding: 20px;
  padding-left: 50px;
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: white;
  background: rgb(219,126,32);
background: -moz-linear-gradient(90deg, rgba(219,126,32,1) 19%, rgba(196,94,21,0.8435749299719888) 50%, rgba(166,89,11,0.6783088235294117) 95%);
background: -webkit-linear-gradient(90deg, rgba(219,126,32,1) 19%, rgba(196,94,21,0.8435749299719888) 50%, rgba(166,89,11,0.6783088235294117) 95%);
background: linear-gradient(90deg, rgba(219,126,32,1) 19%, rgba(196,94,21,0.8435749299719888) 50%, rgba(166,89,11,0.6783088235294117) 95%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#db7e20",endColorstr="#a6590b",GradientType=1);
}


a {
 
  color: white;
  text-decoration: none; 
  cursor : pointer; 
  text-align: center;
  line-height: 3;
  border: 1px solid white;
  border-radius: 10px;
  padding: 2.5px;
}
li{
  list-style-type: none;
}
a:hover{
  background-color:black;
}
p,h1{
  color:black;
}

  


#animado {
  font-size: 40px;
  animation-duration: 6s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  color:black;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}


