<h1>{{title}}</h1>
<p>Qué es lo que hay que saber para este {{title}}</p>
<nav>
    <ul>
        <li><a href="/nosotros">Se viene el Mundial en Qatar</a></li>
        <li><a href="https://www.elmundo.es/cultura/premios-oscar/2022/03/28/62412714fdddffff0a8b45e2.html" >Quiénes fueron los ganadores del Oscar</a></li>
        <li><a href="/contacto">Moverse</a></li>
    </ul>
</nav>