.contenedor-footer {
    position: relative;
    display: inline-block;
    text-align: center;
  }
  .texto-encima {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3.2rem;
    padding-bottom: 6.2em;
    text-shadow: 0.12em 0.12em 0.12em grey;
  }
  
  .foto-footer {
    width: 100%;
  }
  .footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 3.12em;
    margin-bottom: 6.25em;
  }
  
  .empresa {
    width: 20%;
  }
  ul li {
    list-style: none;
    margin: 6.25em;
  }
  ul li a {
    text-decoration: none;
  }
  .icon {
    
    margin: 0.5em 0.38em;
    font-size: 2rem;
  }
  .facebook:hover {
    color: #3b5998;
    transition: 0.5s;
  }
  .instagram:hover {
    color: #c13584;
    transition: 0.5s;
  }
  .linkedin:hover {
    color: #0e76a8;
    transition: 0.5s;
  }
  .pinterest:hover {
    color: #c8232c;
    transition: 0.5s;
  }
  