* {
    margin: 0;
    box-sizing: border-box;
  }
  @import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300&display=swap');
  
  body {
    font-family: "Akshar", sans-serif;
    color: #505355;
  }
  a {
    text-decoration: none;
  }
  .header {
      background-color: rgba(0, 0, 0, 0.72);
      height: 6.25rem;
      /* para que quede fijo */
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 1;
    }
    
    .nav {
      /* para que me quede el logo a la izquierda y el nav a la derecha */
      display: flex;
      justify-content: space-between;
      color: #201f1f;
    }
    .logo {
      height: 6.25rem;
      padding-left: 3.75em;
      padding-top: 0;
      line-height: 5.3em;
    }
    .nav-menu {
      display: flex;
      margin-right: 6.1em;
      /* para sacarle los puntitos */
      list-style: none;
    }
    .nav-menu-item {
      font-size: 1.1rem;
      /* para que se separen entre sí */
      margin: 0 1.5em;
      /* para que se centre en el nav */
      line-height: 5.3em;
      /* por si escribo un item con más de una palabra, que no me la corte */
      width: max-content;
    }
    
    .nav-link {
      /* para sacarle el subrayado */
      text-decoration: none;
      color: #d1d5d4;
    }
    .nav-menu-link:hover {
      color: white;
      transition: 0.5s;
    }
    .active {
      color: white;
    }