.contenedor {
    position: relative;
    padding-bottom: 1.25em;
    
  }
  
  .titulo {
    color: #f26f05;
    font-size: 4rem;
    text-align: center;
    z-index: 1;
    text-shadow: 0.1em 0.1em 0.1em black;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-top: 4.9em;
  
  }
  .img-main {
    display: flex;
    justify-content: space-between;
    font-family: "Barlow", sans-serif;
    font-size: 0.9rem;
    background-color: rgba(206, 208, 210, 0.5);
    text-align: center;
    vertical-align: middle;
    padding: 1.25em 1.25em;
    margin-top: 0;
  }
  .plano01 {
    padding: 4.4em 1.6em 1.9em 6.25em;
  }
  .texto {
    padding: 0 6.25em 1.25em 1.25em;
    text-align: justify;
  }
  .titulo2 {
    text-align: center;
    font-size: 2.5rem;
    padding-top: 0.62em;
    padding-bottom: 1.25em;
  }
  h3 {
    margin-top: 1.25em;
  }
  .items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 12.5em;
  }
  .items2 {
    flex-direction: row;
    margin: 1.25em 1.25em;
    text-align: center;
    font-size: 1rem;
  }
  .cuadradas {
    width: 14em;
  }